/* Title and subtitle */
h1 {
  text-align: center;
  margin-bottom: 0;
}
h2 {
  text-align: center;
  margin-top: 0;
}

/* Lyrics */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.japanese-container {
  grid-column: 1 / span 1;
}
.english-container {
  grid-column: 2 / span 1;
}
.line {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.japanese-text {
  flex: 1;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
.english-text {
  flex: 2;
  padding-left: 10px;
  flex-grow: 1;
}
textarea {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in width */
}
.slider-container {
  margin-bottom: 20px;
}

.slider-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.slider {
  width: 200px;
}
